@charset "UTF-8";
a.btn_submit {
	cursor: pointer;
	font-family: 微软雅黑, 幼圆;
	font-size: 14px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 1s linear;
	color: #FFF;
	padding: 3px 13px;
	background: none;
	border: none;
	background-image: url(image/snook-animation-ud.png);
	background-position: -0px -66px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

a.btn_submit:hover {
	color: #000;
	background-position: -0px -10px;
}

a.btn_submit:active {
	color: #fff;
}